@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgColorChange {
  0% {
    background-color: $main-white;
  }
  60%{
    background-color: $main-yellow;
  }
  
  100% {
    background-color: $main-black;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
