// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

//COLORES

$main-yellow: #efc251;
$main-black: #16181e;
$main-white: #FFF;


//Typografía tamaños

$text-display: 40px;
$text-header: 34px;
$text-title: 1.75em;
$text-title2: 1.375em;
$text-headline: 1.25em;
$text-body: 0.875em;
$text-caption: 0.75em;